<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gnarnia</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    {{{body}}}
</body>
</html>