<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gnarnia</title>
    {{!-- <link rel="stylesheet" type="text/css" href="/style.css"> --}}
</head>
<body>
    <header class="banner">
        <div class="container">
            <a href='/'>
                <h1>Welcome to Gnarnia</h1>
            </a>
        </div>
    </header>
    {{{body}}}
</body>
</html>