body {
    background-color: #B9F5FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loginBackground {
    background-color: white;
    border-radius: 10px;
    height: 600px;
    width: 350px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

h1#welcomeTitle  {
    font-family: 'Pacifico', cursive;
    color: #8C8C8C;
    font-size: 35px;
    font-weight: 100;
    margin: 0 0 -15px 0;
    padding: 0;
}

h1#gnarniaTitle  {
    font-family: 'Anton', sans-serif;
    color: #FF4C00;
    font-size: 65px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}

h1#gnarniaSmall  {
    font-family: 'Anton', sans-serif;
    color: #FF4C00;
    font-size: 45px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

h1.tagline {
    font-family: 'Pacifico', cursive;
    color: #2F2F2F;
    margin-top: -10px;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Pacifico', cursive;
    color: #2F2F2F;
    margin: 15px 0 15px 0;
    padding: 0;
}

h3.greyBold {
    font-family: 'Anton', sans-serif;
    color: #8C8C8C;
    font-size: 24px;
    margin: 20px 0 0 0;
    padding-top: 0;
}

h3.blueBold {
    font-family: 'Anton', sans-serif;
    color: #1699AF;
    font-size: 24px;
}

h2.link {
    text-decoration: underline;
}

input {
    margin-bottom: 10px;
    font-size: 20px;
    border: .5px solid #979797;
    padding: 5px;
    border-radius: 5px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.submit-btn {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    font-family: 'Anton', sans-serif;
    color: white;
    background-color: #FF4C00;
    border: none;
    font-weight: 100;
    letter-spacing: 1px;
}

#acct.submit-btn {
    width: 175px;
}

.backgroundBar {
    background-color: white;
    width: 95vw;
    height: 10vw;
    margin: 30px;
    border-radius: 10px;
}

.iconContainer {
    background-color: white;
    width: 95vw;
    height: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.sportContainer {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1.bold {
    font-family: 'Anton', sans-serif;
    color: #2F2F2F;
    margin-top: 10px;
}

.backgroundBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#gnarniaTitleGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconPic {
    margin: 20px 0 0 0;
    width: 60px;
}

.littleIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
} 

h4.bold {
    font-family: 'Anton', sans-serif;
    color: #2F2F2F;
    margin-top: 10px;
}

#cart {
    margin-right: 15px;
}

input#submitSnowSki.submit-btn {
    align-self: flex-end;
}

input#submit.submit-btn {
    width: 150px;
}

h3.blueBoldPlus {
    font-family: 'Anton', sans-serif;
    color: #1699AF;
    font-size: 60px;
}

.selectBtn {
    background-color: #1699AF;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    border: none;
    width: 60px;
    font-size: 24px;
}
.selectBtnBig {
    background-color: #1699AF;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    border: none;
    width: 110px;
    font-size: 24px;
}

.liftContainer {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1000px;
}

div#purchase.iconContainer {
    height: 75vw;
}

.boardPrice {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardSize {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bootPrice {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bootSize {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticketPrice {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.liftIcon {
    margin: 60px;
}

/* input#big.submit-btn {
    width: 150px;
    height: 50px;
    font-size: 28px;
    align-self: flex-end;
    margin: 0 50px 100px 0;
} */

input#big.submit-btn {
    width: 150px;
    height: 50px;
    font-size: 28px;
    margin: 260px 0 0 0;
}

input#totalCartBig.submit-btn {
    width: 175px;
    height: 50px;
    font-size: 28px;
    margin: 300px 20px 20px 0;
    /* margin: 0 20px 20px 0; */
}

input#editCartBig.submit-btn {
    width: 175px;
    height: 50px;
    font-size: 28px;
    margin: 300px 20px 20px 0;
    background-color: #1699AF;
    /* margin: 0 20px 20px 0; */
}

.backArrow {
    margin: 50px;
}

.whiteBackground {
    background-color: white;
    width: 95vw;
    height: 40vw;
    border-radius: 10px;
}

.checkoutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

.tableTitle {
    color: #2F2F2F;
    font-size: 28px;
    border-bottom: #FF4C00 solid 2px;
    font-family: 'Pacifico', cursive;
    width: 200px;
}

#titlePrice.tableTitle {
    border-bottom: #FF4C00 solid 2px;
    border-right: #FF4C00 solid 2px;
}

.leftData {
    border-right: #FF4C00 solid 2px;
}

th {
    color: #2F2F2F;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
}

.itemTableTotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.totalPrice {
    margin-top: 75px;
}

.thankYouMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 120px 0 120px;

}

.confirmation {
    text-align: center;
    margin: 20px;
    color: #2F2F2F;
}

#catConfirm.confirmation {
    font-family: 'Anton', sans-serif;
}

#thanks.confirmation {
    font-family: 'Pacifico', cursive;
    color: #FF4C00;
}

.infoBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: -125px;
}
.userInfoColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.paymentInfoColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

h4.orders {
    color: #1699AF;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: underline;
    font-size: 26px;
}

p.deleteAcct {
    align-self: flex-start;
    text-decoration: underline;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #2F2F2F;
    font-size: 16px;
    margin: 0;
}

#confirmInfo.submit-btn {
    width: 160px;
    letter-spacing: 2px;
}

#logout.submit-btn {
    width: 100px;
    letter-spacing: 2px;
    background-color: #1699AF;
    margin: 0;
}

a {
    text-decoration: none;
}

#home {
    margin: 0;
}

h4.reserveGear {
    color: #2F2F2F;
    margin: 20px 0 -10px 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


#snoworskicontainer.whiteBackground {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.poleSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.polePrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#skiCartContainer {
    height: 95vw;
}



/* #titleItems.tableTitle {
    border-left: #FF4C00 solid 2px;
} */
/* .priceTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tableTitle {
    border-bottom: #FF4C00 solid 2px;
    font-family: 'Pacifico', cursive;
    color: #2F2F2F;
    font-size: 28px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#price.tableTitle {
    border-right: #FF4C00 solid 2px;
}

h4 {
    margin: 0 0 10px 0;
} */
