<header>
    <div class="backgroundBar">
        <div class="littleIconContainer">
            <img class="iconPic" src="https://i.imgur.com/3eMDXEF.png" alt="user icon">
            <h4 class="bold">user logged in</h4>
        </div>
        <div id="gnarniaTitleGroup">
            <h1 id="gnarniaSmall">gnarnia</h1>
            <h1 class="tagline">lift ticket + gear rental</h1>  
        </div>
        <div class="littleIconContainer">
            <img class="iconPic" id="cart" src="https://i.imgur.com/GwB47Wk.png" alt="user icon">
            <h4 class="bold">x items in cart</h4>
        </div>
    </div>
</header>
<div class="iconContainer" id="purchase">
    <div class="sportContainer">
        <img class="snowboardIcon" src="https://i.imgur.com/4S1ztBK.png" alt="snowboard">
        <h1 class="bold">snowboard</h1>
        <div class="selectionContainer">
            <div class="boardPrice">
                <h1 class="tagline">board - $40</h1>
                <div class="selectorButtons">
                    <input class="selectBtn" type="submit" value="yes">
                    <input class="selectBtn" type="submit" value="no">
                </div>
            </div>
            <div class="boardSize">
                <h1 class="tagline">snowboard size</h1>
                    <input class="selectBtnBig" type="submit" value="small">
                    <input class="selectBtnBig" type="submit" value="medium">
                    <input class="selectBtnBig" type="submit" value="large">
            </div>
            <div class="bootPrice">
                <h1 class="tagline">boots - $20</h1>
                    <input class="selectBtn" type="submit" value="yes">
                    <input class="selectBtn" type="submit" value="no">
            </div>
            <div class="bootSize">
                <h1 class="tagline">bootsize</h1>
            </div>
        </div>
    </div>
    <h3 class="blueBoldPlus">+</h3>
    <div class="bodyContainer">
        <img class="liftIcon" src="https://i.imgur.com/66REDzJ.png" alt="lift ticket">
        <h1 class="bold">lift ticket</h1>
        <div class="selectionContainer">
            <div class="ticketPrice">
                <h1 class="tagline">lift ticket - $75</h1>
            </div>
            <div class="ticketDate">
                <h1 class="tagline">lift ticket date</h1>
            </div>
        </div>
    </div>
    {{!-- <a href="/cart"><input class="submit-btn" id="submitSnowSki" type="submit" value="submit"></a> --}}
</div>


