<header>
    <div class="backgroundBar">
        <div class="littleIconContainer">
            <img class="iconPic" src="https://i.imgur.com/3eMDXEF.png" alt="user icon">
            <h4 class="bold">user logged in</h4>
        </div>
        <div id="gnarniaTitleGroup">
            <h1 id="gnarniaSmall">gnarnia</h1>
            <h1 class="tagline">lift ticket + gear rental</h1>  
        </div>
        <div class="littleIconContainer">
            <img class="iconPic" id="cart" src="https://i.imgur.com/GwB47Wk.png" alt="user icon">
            <h4 class="bold">x items in cart</h4>
        </div>
    </div>
</header>
<div class="whiteBackground">
    <a href="/snowboardcart"><img class="backArrow" src="https://i.imgur.com/NajKkfU.png" alt="back arrow icon"></a>
    <div class="checkoutContainer">
        <a href="/snowboardcart"><input class="submit-btn" id="big" type="submit" value="edit cart"></a> 
        <div class="priceTable">
            <div class="price">
                
            </div>
            <div class="item">
            </div>
        </div>
        <a href="#"><input class="submit-btn" id="big" type="submit" value="submit order"></a> 
    </div>
</div>


