<header>
    <div class="backgroundBar">
        <a href="/hometosnoworski"><div class="littleIconContainer">
            <img class="iconPic" src="https://i.imgur.com/3eMDXEF.png" alt="user icon">
            <h4 class="bold">user logged in</h4>
        </div></a>
        <div id="gnarniaTitleGroup">
            <h1 id="gnarniaSmall">gnarnia</h1>
            <h1 class="tagline">lift ticket + gear rental</h1>  
        </div>
        <div class="littleIconContainer">
            <img class="iconPic" id="cart" src="https://i.imgur.com/GwB47Wk.png" alt="user icon">
            <h4 class="bold">x items in cart</h4>
        </div>
    </div>
</header>
<div class="whiteBackground" id="snoworskicontainer">
    <a href="/hometosnoworski"><img class="backArrow" src="https://i.imgur.com/NajKkfU.png" alt="back arrow icon"></a>
        <div class="sportContainer">
            <a href="/snowboardcart"><img class="snowboardIcon" src="https://i.imgur.com/4S1ztBK.png" alt="snowboard"></a>
            <h1 class="bold">snowboard</h1>
        </div>
    <h3 class="blueBold">or</h3>
        <div class="sportContainer">
            <a href="/skicart"><img class="skiIcon" src="https://i.imgur.com/VIy9Xlc.png" alt="skis"></a>
            <h1 class="bold">ski</h1>
        </div>
</div>


