<header>
    <div class="backgroundBar">
        <a href="/userinfo"><div class="littleIconContainer">
            <img class="iconPic" src="https://i.imgur.com/3eMDXEF.png" alt="user icon">
            <h4 class="bold">user logged in</h4>
        </div></a>
        <div id="gnarniaTitleGroup">
            <h1 id="gnarniaSmall">gnarnia</h1>
            <h1 class="tagline">lift ticket + gear rental</h1>  
        </div>
        <div class="littleIconContainer">
            <img class="iconPic" id="cart" src="https://i.imgur.com/GwB47Wk.png" alt="user icon">
            <h4 class="bold">x items in cart</h4>
        </div>
    </div>
</header>
<div class="iconContainer" id="skiCartContainer">
    <a href="/snoworski"><img class="backArrow" src="https://i.imgur.com/NajKkfU.png" alt="back arrow icon"></a>
    <div class="sportContainer">
        <img class="skiIcon" src="https://i.imgur.com/VIy9Xlc.png" alt="ski">
        <h1 class="bold">ski</h1>
        <div class="selectionContainer">
            <div class="boardPrice">
                <h1 class="tagline">skis - $40</h1>
                <div class="selectorButtons">
                    <input class="selectBtn" type="submit" value="yes">
                    <input class="selectBtn" type="submit" value="no">
                </div>
            </div>
            <div class="boardSize">
                <h1 class="tagline">ski size</h1>
                <div class="selectorButtons">
                    <input class="selectBtnBig" type="submit" value="small">
                    <input class="selectBtnBig" type="submit" value="medium">
                    <input class="selectBtnBig" type="submit" value="large">
                </div>
            </div>
            <div class="bootPrice">
                <h1 class="tagline">boots - $20</h1>
                <div class="selectorButtons">
                    <input class="selectBtn" type="submit" value="yes">
                    <input class="selectBtn" type="submit" value="no">
                </div>
            </div>
            <div class="bootSize">
                <h1 class="tagline">bootsize</h1>
                <div class="selectorButtons">
                    <input class="selectBtn" type="submit" value="6.5">
                    <input class="selectBtn" type="submit" value="7.5">
                    <input class="selectBtn" type="submit" value="8.5">
                    <input class="selectBtn" type="submit" value="9.5">
                    <input class="selectBtn" type="submit" value="10.5">
                    <input class="selectBtn" type="submit" value="11.5">
                    <input class="selectBtn" type="submit" value="12.5">
                </div>
            </div>
            <div class="polePrice">
                <h1 class="tagline">poles - $20</h1>
                <div class="selectorButtons">
                    <input class="selectBtn" type="submit" value="yes">
                    <input class="selectBtn" type="submit" value="no">
                </div>
            </div>
            <div class="poleSize">
                <h1 class="tagline">pole size</h1>
                <div class="selectorButtons">
                    <input class="selectBtnBig" type="submit" value="small">
                    <input class="selectBtnBig" type="submit" value="medium">
                    <input class="selectBtnBig" type="submit" value="large">
                </div>
            </div>
        </div>
    </div>
    <h3 class="blueBoldPlus">+</h3>
    <div class="liftContainer">
        <img class="liftIcon" src="https://i.imgur.com/66REDzJ.png" alt="lift ticket">
        <h1 class="bold">lift ticket</h1>
        <div class="selectionContainer">
            <div class="ticketPrice">
                <h1 class="tagline">lift ticket - $75</h1>
                <div class="selectorButtons">
                    <input class="selectBtn" type="submit" value="yes">
                    <input class="selectBtn" type="submit" value="no">
                </div>
            </div>
        </div>
        <a href="/skitotalcart"><input class="submit-btn" id="big" type="submit" value="add to cart"></a> 
    </div>
</div>


